.wrapper{
  height: 100vh;
  position: relative;
  background-image: url(../image/index_bg.jpg);
  background-size: cover;
}

.menu {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
